*{
    padding: 0;
    margin: 0;
}
/* body */
.override-modal-open {
    overflow-y: scroll;
    
}
:root{
    --bs-pale-green: #C6D5C6;
    --bs-fa-solid-color: #4c7c61;
    --bs-new-color:#3f634e;
    --bs-for-a:#3a6a4f;
}

/* profile pic after log in###################### */
.userpicture{
    width: 40px;
    height: 40px;
    /* margin-left: 9px; */
    border-radius: 50%;
    cursor: pointer;
}


.fa-solid{
    color: var(--bs-fa-solid-color);
}
.colorset{
    background-color: var(--bs-pale-green);
}
.gap{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}
#lgdes{
    font-weight: 700;
    color: #285753;
} 
a{
    color: var(--bs-for-a) !important;
    text-decoration: none !important;
}
a:hover{
    cursor: pointer;
    color: #285753 !important;
    text-decoration: underline !important;
}
.diffhov:hover{
    color: #eceef0 !important;
}
body > header > nav > div > div > div.logo.col-10.col-lg-1 > a > h2{
    color: #212529;
}
#text-white{
    transition: 1s;
}
#text-white:hover{
    transition: 1s !important;
    color:#fff !important;
    box-shadow: 3px 2px 9px 2px #cedcce;
}
.form-control:focus{
    background-color: white !important;
    border: 0.5px solid !important; 
    border-color: #285753 !important;
}
nav .form-control:focus .btn{
    background-color: black !important;
    box-shadow: 0 0 0 .09rem #4a9f98 !important;
} 
.dropdown:hover>.dropdown-menu {
    position: absolute;
    display: block;
  }
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }


.positioning-headline{
    padding: 10px 0px 10px;
    width: 40%;
    bottom: 15%;
    left: 15%;
}

/* ################### recipes-grids ##################### */
.recipes-grids{
    display: grid;
    gap: 0.7rem;
    grid-template-columns: repeat( 3, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    /* grid-auto-flow: dense; */
}
.grid-card-group{
    position: relative;
    overflow: hidden;
}
.overly{
    display: none;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(234, 226, 210);
    width: 100%;
    left: 0%;
    bottom: 0%;
    background-image: linear-gradient(to bottom , transparent , black);
    transition: .5s;
}
.grid-card-group:hover .overly{
    display: block;
    padding-bottom: 2% !important;
}
.scalingtrans{
    transition: 0.5s;
}
.grid-card-group:hover .scalingtrans{
    transform: scale(1.2);
    transition: 0.7s;
}

.card-big{
    /* place-items: center; */
    grid-column: span 2 / auto;
    grid-row: span 2 / auto;
}
.card-small{
    /* place-items: center; */
    grid-column: span 1 / auto;
    grid-row: span 1 / auto;
}
.card-long{
    /* place-items: center; */
    grid-column: span 1 / auto;
    grid-row: span 2 / auto;
}

/* ############################ non-veges ############################### */
.non-veges-wrappper {
    overflow-x: auto;
    scroll-behavior: smooth;
    
}
.non-veges-wrappper::-webkit-scrollbar {
    display: none;
}
.pre-btn,
.nxt-btn {
  border: none;
  width: 5vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, transparent, #C8D5C8 );
  cursor: pointer;
  z-index: 4;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.6;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}
/* #hov-next-prev{
    background-color: #000;
} */
#hov-next-prev:hover{
    background-color: var(--bs-pale-green) !important;
}
.hov-color{
    transition: 0.5s;
}
#hov-next-prev:hover .hov-color{
    color: white !important;
    transition: 0.5s;
}

/* ############################ recipe-intro ############################ */

.positioning{
    /* top: 96%; */
    bottom: -57.9%;
    right: 8%;
}

.cust{
    list-style: none;
}
.cust::before{
    content: "🍳";
}

.ingred-list{
    border: solid 1.5px var(--bs-new-color) !important;
    /* border-color: var(--bs-new-color) !important; */
}

